.loading{
  background-color: #1B5E20;
  color: #bddebf!important;
  display: block;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 4.2rem;
  font-weight: bold;
  margin: 0;
  height: 100vh;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
}

/*http://tobiasahlin.com/spinkit/*/

.spinner {
  display: block;
  height: 40px;
  margin: 100px auto;
  position: relative;
  width: 40px;
}

.double-bounce1, .double-bounce2 {
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
  background-color: #eeeeee;
  border-radius: 50%;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
